<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Product</h5>
                        <router-link :to="{name: 'product-create'}" class="btn btn-primary">Create Product</router-link>
                    </div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Slug</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="product in products" :key="product.id">
                                    <td>{{product.id}}</td>
                                    <td>{{product.title}}</td>
                                    <td>{{product.slug}}</td>
                                    <td>{{product.price}}</td>
                                    <td>
                                    	<img :src="product.image" width="150" height="120" />
                                    </td>
                                    <td>{{product.description}}</td>
                                    <td>
                                        <router-link :to="{name: 'product-edit', params:{id: product.id}}" class="btn btn-success btn-sm" >Edit</router-link>
                                        <a @click.prevent="deleteProduct(product)" class="btn btn-danger btn-sm" >Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                products: [],
            }
        },
        methods: {
            loadProducts(){
                this.$toast.success('Product loaded successfully!');
                axios.get('/api/product').then(response => {
                    this.products = response.data;
                });
            },
            deleteProduct(product){

                var conf = confirm("Are you sure to delete?");
                
                if (conf) {

                    axios.delete(`/api/product/${product.id}`).then(response => {
                        this.$toast.success({
                            title:'Success!',
                            message:'Product deleted successfully!'
                        });
                    });

                    let index = this.products.indexOf(product);
                    this.products.splice(index, 1);
                }
            }
        },
        mounted() {
            this.loadProducts();
        }
    };
</script>
