<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" @click.prevent="logout">Logout</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Dashboard
                    </div>
                    <div class="card-body">
                        Welcome, {{ user.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        logout(){
            axios.post('/logout').then(response => {

                this.$store.commit('SET_AUTHENTICATED', false);
                localStorage.removeItem("auth");

                this.$toast.success({
                    title: 'Success',
                    message: 'Logged out successfully.',
                });
                this.$router.push({name: 'login'});
            });
        },
    },
    computed: {
        user(){
            return this.$store.getters.getUser;
        }
    }
}
</script>

<style>

</style>