<template>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<router-link class="navbar-brand" :to="{name:'home'}">VueJS Laravel</router-link>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<router-link :to="{name:'home'}" class="nav-link">Home</router-link>
					</li>
					<li class="nav-item">
						<router-link class="nav-link" :to="{name: 'category-list'}">Category</router-link>
					</li>
					<li class="nav-item">
						<router-link class="nav-link" :to="{name: 'category-create'}">Create Category</router-link>
					</li>
					<li class="nav-item">
						<router-link class="nav-link" :to="{name: 'product-list'}">Product</router-link>
					</li>
					<li class="nav-item" v-if="auth">
						<router-link class="nav-link" :to="{name: 'dashboard'}">Dashboard</router-link>
					</li>
					<li class="nav-item" v-if="!auth">
						<router-link class="nav-link" :to="{name: 'login'}">Login</router-link>
					</li>
				</ul>				
			</div>
		</nav>
	</div>
</template>

<script >
export default {
    methods: {
        
    },
	computed: {
		auth(){
			let authStatus = this.$store.getters.getAuthenticated;
			console.log('auth-in-header', authStatus);
			
			return authStatus;
		}
	}
};
</script>

<style >

</style>
