<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>

                    <div class="card-body">
                        <form method="POST" action="" @submit.prevent="login()">

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" :class="{ 'is-invalid': loginForm.errors.has('email') }" name="email" value="" autocomplete="email" autofocus v-model="loginForm.email" >
                                    <has-error :form="loginForm" field="email"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" :class="{'is-invalid': loginForm.errors.has('password')}" name="password" autocomplete="current-password" v-model="loginForm.password">
                                    <has-error :form="loginForm" field="password"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" id="remember" >

                                        <label class="form-check-label" for="remember">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform';
    export default {
        data(){
            return {
                loginForm: new Form({
                    email: 'admin@admin.com',
                    password: 'password'
                }),
            };
        },
        methods: {
            login(){
                this.loginForm.get('/sanctum/csrf-cookie').then(response => {

                    this.loginForm.post('/login').then(response => {

                        this.getUserData();

                        this.$toast.success({
                            title: 'Success',
                            message: 'Welcome! You are logged in.'
                        });
                    });
                });
            },
            getUserData(){
                this.loginForm.get('/api/user').then(response => {
                    let user = response.data;
                    this.$store.commit('SET_USER', user);
                    this.$store.commit('SET_AUTHENTICATED', true);

                    localStorage.setItem('auth', true);

                    this.$router.push({name: 'dashboard'});
                }).catch(err => {
                    // catch & show modified errors
                    console.log('err', err.message);
                });
            },
        },
        mounted(){
            
        }
    }
</script>